{{ form_start(form) }}
    <fieldset class="uk-fieldset">
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="">
            Nom du théme
            </div>
            <div class="col">
                {{ form_widget(form.label) }}
            </div>
            <div>
                Description du théme
            </div>
            <div class="uk-margin">
                {{ form_widget(form.description) }}
            </div>
        </div>
        <button class="btn">{{ button_label|default('Save') }}</button>
    </fieldset>
{{ form_end(form) }}
